<div class="col-lg-8">
  <%= form_for quiz do |f| %>
      <% if quiz.errors.any? %>
          <div class="panel panel-danger">
            <div class="panel-heading">
              <h2><%= pluralize(quiz.errors.count, 'error') %> prohibited this quiz from being saved:</h2>
            </div>

            <ul>
              <% quiz.errors.full_messages.each do |message| %>
                  <li class="text-danger"><%= message %></li>
              <% end %>
            </ul>
          </div>
      <% end %>

      <div class="panel panel-default">
        <div class="panel-body">

          <div class="row">
            <div class="col-lg-3">
              <div class="form-group">
                <%= f.label :category %>
                <%= f.select :category_id, Category.all.collect { |p| [p.name, p.id] }, {include_blank: true},
                             class: 'form-control' %>
                <div class="help-block">Select a category</div>
              </div>
            </div>

            <div class="col-lg-6">
              <div class="form-group">
                <%= f.label :title %>
                <%= f.text_field :title, class: 'form-control' %>
                <div class="help-block">Provide a short title for your quiz</div>
              </div>
            </div>

            <div class="col-lg-3">
              <div class="form-group">
                <%= f.label :description %>
                <%= f.text_area :description, class: 'form-control', rows: 4 %>
                <div class="help-block">What this quiz is about?</div>
              </div>
            </div>
          </div>

          <hr>

          <%= f.submit nil, class: 'btn btn-primary' %>
          <%= link_to 'Cancel', quizzes_path, class: 'btn btn-default pull-right' %>

        </div>
      </div>

  <% end %>
</div>