<div class="col-lg-3">
  <div class="panel panel-info">
    <div class="panel-heading">
      <h2>Showing Quiz</h2>
    </div>
  </div>

  <div class="list-group">
    <%= link_to 'Quizzes', quizzes_path, class: 'list-group-item list-group-item-info' %>
  </div>
</div>

<div class="col-lg-9">
  <div class="panel panel-info">
    <div class="panel-heading"><h2><%= @quiz.title %></h2></div>

    <div class="panel-body">

      <%= link_to new_quiz_question_path(@quiz), class: 'btn btn-success' do %>
          <span class="glyphicon glyphicon-plus"></span>
          New question
      <% end %>

      <hr>

      <% if @quiz.questions.present? %>
          <div class="list-group">
            <% @quiz.questions.each do |question| %>
                <%= link_to question.text, polymorphic_path([question.quiz, question]), class: 'list-group-item' %>
            <% end %>
          </div>
      <% else %>
          <div class="jumbotron text-center">
            <h2>You don't have any questions for this quiz yet.</h2>
            <h4>Create a <%= link_to 'new question', new_quiz_question_path(@quiz) %> now.</h4>
          </div>
      <% end %>

      <hr>

      <%= link_to 'Edit', edit_quiz_path(@quiz), class: 'btn btn-primary' %>
      <%= link_to 'Destroy', @quiz, method: :delete, data: {confirm: 'Are you sure?'},
                  class: 'btn btn-danger pull-right' %>
    </div>
  </div>
</div>
