<div class="col-lg-3">
  <div class="panel panel-info">
    <div class="panel-heading">
      <h2>Answers <span class="badge"><%= @answers.count %></span></h2>
    </div>
  </div>

  <div class="list-group">
    <%= link_to 'Question', quiz_question_path(@question.quiz, @question),
                class: 'list-group-item list-group-item-info' %>
  </div>
</div>

<div class="col-lg-9">
  <% if @answers.present? %>
      <div class="panel panel-info">
        <div class="panel-heading">
          <h2>Answers for <%= @question.text %></h2>
        </div>

        <div class="panel-body">

          <%= link_to new_quiz_question_answer_path(@question.quiz, @question), class: 'btn btn-success' do %>
              <span class="glyphicon glyphicon-plus"></span>
              New answer
          <% end %>

          <hr>

          <div class="list-group">
            <% @answers.each do |answer| %>
                <%= link_to answer.text, polymorphic_path([answer.question.quiz, answer.question, answer]),
                            class: 'list-group-item' %>
            <% end %>
          </div>

        </div>
      </div>
  <% else %>
      <div class="jumbotron text-center">
        <h2>You don't have any answers yet.</h2>
        <h4>Create a <%= link_to 'new answer', new_quiz_question_answer_path(@question.quiz, @question) %> now.</h4>
      </div>
  <% end %>
</div>
